.new-task-button__container {
  height: 120px;
}

.new-task-button {
  position: fixed;
  bottom: 0px;
  display: grid;
  place-items: center;
  width: inherit;
  height: inherit;
  padding-right: var(--task-lateral-gap);
  padding-left: var(--task-lateral-gap);
  
}

.new-task-button > button {
  display: block;
  justify-self: stretch;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1.15rem;
}

