.task {
  display: flex;
  align-items: center;
  height: var(--task-height);
  font-weight: bold;
  color: var(--color-font-dark);
  background-color: var(--color-font-light);
  border-radius: var(--task-border-radius);
  overflow: hidden;
}

.task.completed {
  opacity: 0.7;
  text-decoration-line: line-through;
}

.task .check {
  display: none;
}

.task.completed .check {
  display: inline;
}

.task__checkbox-icon,
.task__trash-icon {
  display: grid;
  place-items: center;
  height: 100%;
  aspect-ratio: 1;
  cursor: pointer;
}

.task__trash-icon {
  margin-left: auto;
}

.task__checkbox-icon > svg,
.task__trash-icon > svg {
  height: var(--icon-size);
  width: var(--icon-size);
  fill: var(--color-font-dark);
}

.task__checkbox-icon > svg,
.task__trash-icon > svg {
  height: var(--icon-size);
  width: var(--icon-size);
}