.searchbar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-right: var(--task-lateral-gap);
  padding-left: var(--task-lateral-gap);
}

.searchbar__icon {
  position: absolute;
  top: calc(var(--task-height)/2 - var(--icon-size)/2);
  left: calc(var(--task-lateral-gap) + 0.9rem);
  height: var(--icon-size);
  width: var(--icon-size);
}

.searchbar__input {
  height: var(--task-height);
  padding-right: 1rem;
  padding-left: 3rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-font-dark-soft);
  background-color: var(--color-font-light);
  border: none;
  border-radius: var(--task-border-radius);
  transition: background-color 350ms;
}

.searchbar__input::placeholder {
  color: inherit;
}

.searchbar__input:focus {
  color: var(--color-font-dark);
  background-color: white;
  outline: none;
}

.searchbar > span {
  margin-left: 1rem;
  font-size: 0.92rem;
  opacity: 0.7;
}