/* Variables */
:root {
  --color-background: hsl(200, 40%, 40%);
  --color-primary: hsl(200, 40%, 40%);
  --color-primary-dark: hsl(200, 40%, 26%);
  --color-font-light: hsl(0, 0%, 90%);
  --color-font-dark: hsl(0, 0%, 22%);
    --color-font-dark-soft: hsl(0, 0%, 40%);

  --task-lateral-gap: 1rem;
  --task-height: 3.3rem;
  --task-border-radius: 0.6rem;

  --icon-size: 1.25rem;
}









/* Setup */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  color: var(--color-font-light);
  background-color: var(--color-background);
}

input {
  height: var(--task-height);
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-font-dark);
  background-color: var(--color-font-light);
  border: none;
  border-radius: var(--task-border-radius);
  transition: background-color 350ms;
}
input::placeholder {
  color: var(--color-font-dark-soft);
}
input:focus {
  background-color: white;
  outline: none;
}

button {
  padding: 0.75rem 0.7rem;
  font-family: inherit;
  font-weight: bold;
  color: var(--color-font-light);
  background-color: var(--color-primary-dark);
  border: none;
  border-radius: var(--task-border-radius);
}







/* Utilities */
.prevent-select {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.fill-dark {
  fill: var(--color-font-dark)
}

.fill-dark-soft {
  fill: var(--color-font-dark-soft)
}

.divider {
  display: block;
  height: 3px;
  margin: 1.2rem 2rem 2rem;
  background-color: var(--color-font-light);
  opacity: 0.5;
  border-radius: 1.5px;
}

.sub-container {
  margin-right: auto;
  margin-left: auto;
  width: 260px;
  transition: width 350ms;
}
@media (min-width: 336px) {
  .sub-container {
    width: 320px;
  }
}
@media (min-width: 600px) {
  .sub-container {
    width: 400px;
  }
}
@media (min-width: 900px) {
  .sub-container {
    width: 500px;
  }
}