/* Variables */
:root {
  --color-background: hsl(200, 40%, 40%);
  --color-font-light: hsl(0, 0%, 90%);
  --color-font-dark: hsl(0, 0%, 22%);
    --color-font-dark-soft: hsl(0, 0%, 40%);

  --task-lateral-gap: 1rem;
  --task-height: 3rem;
  --task-border-radius: 0.6rem;

  --icon-size: 1.25rem;
}









/* Setup */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  color: var(--color-font-light);
  background-color: var(--color-background);
}









/* Utilities */
.prevent-select {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.fill-dark {
  fill: var(--color-font-dark)
}

.divider {
  display: block;
  height: 3px;
  margin: 1.2rem 2rem 2rem;
  background-color: var(--color-font-light);
  opacity: 0.5;
  border-radius: 1.5px;
}